PORT = 8080
HOST =http://localhost:8080
DATABASE_CONNECTION="host=localhost user=postgres password=123456 dbname=product_shop port=5433 sslmode=disable TimeZone=Asia/Bangkok"
SECRET_KEY=37455AA3ED5FEBC2153DD83F397FE